* {
    font-family: sans-serif;

}

html {
    height: 100%;
}

body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #F5FFFD;
}

#currPage {
    font-weight: bold;
}
#currPage:hover {
    color: #F5FFFD;
}

header {
    color: #F5FFFD;
    background-color: #D9C3BA;
    flex: 0 60px;

    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: baseline;
}

header div {
    display: flex;
    flex-direction: row;
    padding: 0 1em;
    align-items: baseline;

}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    padding: 0 0.5em;
}

#navHead {
    font-size: 36px;
    padding-left: .25em;
}

#navHead:hover {
    color:#F5FFFD
}

.navbar {
    display: flex;
    flex-direction: row;
    color: #F5FFFD;
    padding: 0 0.5em;
}

a {
    color: #F5FFFD;
    font-size: 1em;
    text-decoration: none;
}

a:hover {
    color: darkslategray;
}

main {
    flex: 1;
    font-size: 1.5em;
    display: flex;
    flex-direction: column;
    background-color: #F5FFFD;
    padding: 1em;
}

p {
    background-color: #F5FFFD;
    color: darkslategray;
    font-size: .75em;
}

form {
    background-color: #F5FFFD;
    color: darkslategray;
}

label {
    background-color: #F5FFFD;
    font-size: 0.6em;
    color: darkslategray;
}

input {
    background-color: #F5FFFD;
    border-radius: 5px;
    border-color: darkslategray;
    color: darkslategray;
}

#count {
    margin: .5em;
}

h2 {
    background-color: #F5FFFD;
    color: #34B69D;
    font-size: 2em;
    margin: 0 0em;
}

#log-btn {
    background-color: #34B69D;
    border-style: none;
    color: #F5FFFD;
    cursor: pointer;
    margin: .5em;
    width: 100%;
}

#log-btn:hover {
    background-color: #164840;
}

button:hover {
    background-color: #164840;
}

footer {
    flex: 0 10px;
    background: #D9C3BA;
    color: #F5FFFD;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer div {
    padding: 1em;
}

table {
    background-color: #F5FFFD;
    padding: 2em;
    margin: .75em;
}

.score-tr {
    display: grid;
    grid-template-columns: 33% 34% 33%; 
    align-items: baseline;

}

/*fix this!!*/
tr:hover {
    font-weight: bold;
}

.score-tbl {
    font-size: 3.25vw;
}

@media (min-width: 43em) {
    .score-tbl {
        font-size: 1em;
    }
}

.score-hd {
    font-weight: bold;
    border-bottom: 2px solid #34B69D;
    padding-left: .5em;
}

tr {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

td {
    background-color: #F5FFFD;
}

.square {
    height: 1.7em;
    width: 1.7em;
    border: 2px solid rgb(113, 120, 127);
    border-radius: 5px;
    margin: .10em;
    font-weight: bold;
    color:#34B69D;
    text-align: center;

}

.ctr-item {
    justify-content: center; /*horizontal*/
    align-items: center;    /*vertical*/
    align-self: center;
}

#main-page {
    justify-content: center; /*horizontal*/
    align-items: center;    /*vertical*/
    align-self: center;
    background-color: #F5FFFD;
}

#game-board {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.letter-row {
    display: flex;
}

#keyboard div {
    display: flex;
    justify-content: center;
}

.keyboard-btn {
    display: flex;
    background-color: rgb(83, 87, 91);
    border: 0px;
    border-radius: 5px;
    padding-left: .6em;
    padding-right: .6em;
    padding-top: .25em;
    padding-bottom: .25em;
    margin: .1em;
    font-size: .78em;
    color: #34B69D;
    cursor: pointer;
}

.keyboard-btn:hover {
    background-color: rgb(113, 120, 127); /*rgb(83, 87, 91) darker gray*/
}

.notifications {
    display: block;
    position: absolute;
    float: left;
    max-width: fit-content;
    font-size: .5em;
}

@media (max-width: 42em) {
    .notifications {
        visibility: hidden;
    }
}

.info {
    text-align: center;
    padding-top: 1em;
}

#word {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#word div {
    padding-left: .15em;
    padding-right: .15em;
    border-bottom: 2px solid #34B69D;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#user-name {
    font-size: 1.25em;
    color: #34B69D;
}

