.info {
    text-align: center;
    padding-top: 1em;
}

#word {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#word div {
    padding-left: .15em;
    padding-right: .15em;
    border-bottom: 2px solid #34B69D;
}